<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sing in</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
<header class="header">
    <a href="#" class="logo">
        <ion-icon name="cafe"></ion-icon>
        coffee</a>
    <div class="nav">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Menu</a>
        <a href="#">Reviews</a>
        <a href="#">Contact</a>
    </div>
</header>
{% block content %}
<div class="box">
    <span class="borderLine"></span>
    <form class="form_auth_style" action="#" method="post">
        <h2>Sing in</h2>
        <div class="inputBox">
            <input type="text" required="required">
            <span>Username</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="text" required="required">
            <span>Username</span>
            <i></i>
        </div>
        <div class="inputBox">
            <label>
                <input type="password" required="required">
            </label>
            <span>Password</span>
            <i></i>
        </div>
        <div class="links">
            <a href="#">Forgot Password</a>
            <a href="#">Singup</a>
        </div>
        <input type="submit" value="Login">
    </form>
</div>
{% endblock %}
</body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


</html>