{% extends 'base.html' %}

{% block title %}
Обувь
{% endblock %}

{% block content %}
<!--suppress ALL -->
<h2 class="main_item">Куртки</h2>
<div class="card_item">
    {% for shoe in shoes_list %}

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src={{shoe.photo}} alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{shoe.name}}</h5>
            <p class="card-text">Цена: {{shoe.cost}} руб.</p>
            <a href="#" class="btn btn-primary">Купить</a>
        </div>
    </div>

    {%endfor%}
</div>
{% endblock %}